{# Minify all the things! #}
{%- minify -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language|slice(0, 2) }}">
    <head>
        <meta charset="utf-8" />
        {# See: https://github.com/h5bp/html5-boilerplate/blob/v8.0.0/dist/doc/extend.md#explicit-prefetches #}
        <link rel="dns-prefetch" href="https://rsms.me/" />
        <link rel="preconnect" href="https://rsms.me/" crossorigin />
        {# Uncomment if using Google Fonts #}
        {# <link rel="dns-prefetch" href="//fonts.googleapis.com"> #}
        {# <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> #}

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Title and meta description inserted by SEOmatic plugin #}

        {# TODO: Reinstate when get icon auto-generation working in Nitro 3 #}
        {# Device icons #}
        {# Favicon & device icons #}
        {# {% include "_partials/favicons.twig" %} #}
        {# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2b6cb0">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff"> #}

        {# Vite icons #}
        <!-- Vite icons -->
        {{ craft.vite.inline('@webroot/dist/assets/favicons/webapp.html') }}
        <!-- /Vite icons -->

        {# Alpine JS #}
        <style>
            [x-cloak] { display: none !important; }
        </style>

        {# Inter font #}
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

        {# Google fonts #}
        {# Uncomment and edit to use Google Fonts #}
        {# <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,800,900&display=swap" rel="stylesheet"> #}

        {# Critical CSS #}
        {# TODO: Reinstate when get critical CSS working in Nitro 3 #}
        <!-- Critical CSS -->
        {# {{ craft.vite.includeCriticalCssTags() }} #}
        <!-- /Critical CSS -->

        {# Non-critical CSS #}
        {# Vite non-critical CSS #}
        <!-- Vite non-critical CSS -->
        {{ craft.vite.script('/src/app.js') }}
        <!-- /Vite non-critical CSS -->
    </head>

    <body class="text-base font-sans antialiased text-gray-900 bg-white leading-normal">
        {# Sticky footer: https://jsfiddle.net/adamwathan/xgykyfkg/ #}
        <div class="min-h-screen flex flex-col">
            <div class="flex-grow">
                <header>
                    {# Alpine.js navbar #}
                    {% include '_partials/navbar.twig' %}

                    <div class="py-8 sm:py-20">
                        {% block sectionHeader %}

                        {% endblock sectionHeader %}
                    </div>
                </header>

                {% block content %}

                {% endblock content %}
            </div>

            <footer class="mt-8 bg-gray-50 shadow">
                {# <div class="container px-4 py-8"> #}
                <main class="max-w-7xl mx-auto p-4 sm:p-6 lg:p-8">
                    <small>
                        &copy; {{ 'now'|date('Y') }} {{ siteName }} <span class="italic">by</span>
                        <a href="https://andreademers.com">Andrea DeMers</a>
                    </small>
                </main>
            </footer>
        </div>

        {# JS to be included before </body> #}
        {% block bodyJs %}
            {# Site-wide JavaScript #}
            {# {{ craft.twigpack.includeJsModule("/js/manifest.js") }}
			{{ craft.twigpack.includeJsModule("/js/vendor.js", true) }}
			{{ craft.twigpack.includeJsModule("/js/app.js", true) }} #}
        {% endblock bodyJs %}
    </body>
</html>
{%- endminify -%}
