{%- minify -%}
<!doctype html>
<html lang="{{ craft.app.language|slice(0,2) }}" class="bg-white antialiased">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{# Title and meta description inserted by SEOmatic plugin #}

		{# Device icons #}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2b6cb0">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">

		{# Google fonts #}
		{# <link rel="dns-prefetch" href="//fonts.googleapis.com"> #}
		{# <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> #}
		{# <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,800,900&display=swap" rel="stylesheet"> #}

		{# Critical CSS #}
		<!-- Critical CSS -->
		{{ craft.twigpack.includeCriticalCssTags() }}

		{# Non-critical CSS #}
        {# {{ craft.twigpack.includeCssModule("/css/app.css") }} #}
		{{ craft.twigpack.includeCssModule("/css/app.css", true) }}
	</head>

	{# <body class="font-body antialiased text-gray-800 bg-white"> #}
	<body
		class="text-gray-900 leading-normal">
		{# Sticky footer: https://jsfiddle.net/adamwathan/xgykyfkg/ #}
		<div id="app" class="min-h-screen flex flex-col">
			<div class="flex-grow">
				<header
					class="bg-gray-100">
					{# Mobile nav Vue.js component #}
					{% include '_partials/navbar.twig' %}

					<div class="py-8 sm:py-20"> {% block sectionhHeader %}{% endblock sectionhHeader %}
						</div>
					</header>

					{% block content %}{% endblock content %}
				</div>

				<footer class="mt-8 bg-gray-100">
					<div class="container px-4 py-8">
						<small>&copy;
							{{ "now"|date("Y") }}
							{{ siteName }}
							by
							<a href="http://andreademers.com">Andrea DeMers</a>
						</small>
					</div>
				</footer>
			</div>

			{# -- Any JavaScript that should be included before </body> -- #}
			{% block bodyJs %}
				{#-- Site-wide JavaScript --#}
				{{ craft.twigpack.includeJsModule("/js/manifest.js") }}
				{{ craft.twigpack.includeJsModule("/js/vendor.js") }}
				{{ craft.twigpack.includeJsModule("/js/app.js") }}
			{% endblock bodyJs %}
		</body>
	</html>
	{%- endminify -%}
